body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cceditor {
    width: 100%; height: 100%;
}

.CodeMirror {
    position: absolute;
    left: 0; right: 0;
    width: 100%; height: 100%;
    font-size: 12px;
}

.CodeMirror * { box-sizing: content-box }

.ccframe iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.ccframe video {
    width: 100%;
    height: 100%;    
}